/* .navbarItemsContainer {
  display: flex;
  justify-content: space-between;
}

.plexarLogo {
  width: 121px;
  height: 46px;
  margin-left: 80px;
}

.navItem{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;

color: #ca2424 !important;

}

.SignUpText {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;

  color: #000000;
} */
