.coustomContactUsBg {
    background-color: #5B7CFD;
    margin-top: 48px;
    height: auto; /* Set default height to "auto" */
  }
  
  @media (min-width: 768px) {
    /* Apply styles for medium-sized screens and above */
    .coustomContactUsBg {
      height: 431px; /* Set the desired height for medium-sized screens and above */
    margin-top: 109px;
    }
  }
  
.markitingImageAligenment{
    margin-top: -17px;
}
.contactUsHeadingMainPage {
  margin-top: 40px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
  color: #FFFFFF;
}

@media (max-width: 767px) {
  /* Screens below medium */
  .contactUsHeadingMainPage {
    color: #FFF;
font-size: 32px;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
line-height: normal;
  }
}


.contactUsPara{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    /* or 156% */
    
    
    color: #FFFFFF;
    
}

.contactUsButtonBox{
    width: 177px;
    height: 56px;
    background-color: white;
    border-radius: 4px;
}

.contactUsButtonText{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #5B7CFD;
    padding-top: 20px;
}

.buttonsRowContactUs {
    margin-top: 30px;
    padding-bottom: 20px;
  }
  .learnButtonButtonBox {
    width: 177px;
    height: 56px;
    border-radius: 4px;
    border: 1px solid white;
  }
  
  .learnButtonCoustomText {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
  
    text-align: center;
  
    color: white;
  }
  